.aboutthird{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    .aboutthird-container{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        //ONE
        .aboutthird-container-one{
            width: 50%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .aboutthird-container-one-titlebox{
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                h1{
                    color: $color-two;
                    font-size: $font-large;
                    font-weight: normal;
                }
            }
            .aboutthird-container-one-textbox{
                width: 100%;
                height: 75%;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                h1{
                    color: $color-two;
                    font-size: $font-medium;
                    font-weight: bold;
                }
                
            }
        }
        //ONE

        //TWO
        .aboutthird-container-two{
            width: 40%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .aboutthird-container-two-titlebox{
                width: 100%;
                height: 15%;
            }
            .aboutthird-container-two-textbox{
                width: 100%;
                height: 75%;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                h1{
                    color: $color-two;
                    font-size: $font-medium;
                    font-weight: bold;
                }
            }
        }
        //TWO
    }
}

/*Desktop*/
@media only screen and (min-width: 1025px) and (max-width:1200px){
    .aboutthird{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        .aboutthird-container{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            //ONE
            .aboutthird-container-one{
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-one-titlebox{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    h1{
                        color: $color-two;
                        font-size: $font-large;
                        font-weight: normal;
                    }
                }
                .aboutthird-container-one-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                    
                }
            }
            //ONE
    
            //TWO
            .aboutthird-container-two{
                width: 40%;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-two-titlebox{
                    width: 100%;
                    height: 15%;
                }
                .aboutthird-container-two-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                }
            }
            //TWO
        }
    }
}
/*Desktop*/

/*Small Desktop*/
@media only screen and (min-width: 769px) and (max-width:1024px){
    .aboutthird{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        .aboutthird-container{
            width: 90%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            //ONE
            .aboutthird-container-one{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-one-titlebox{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                }
                .aboutthird-container-one-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-large;
                        font-weight: bold;
                    }
                    
                }
            }
            //ONE
    
            //TWO
            .aboutthird-container-two{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-two-titlebox{
                    width: 100%;
                    height: 15%;
                }
                .aboutthird-container-two-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                }
            }
            //TWO
        }
    }
}
/*Small Desktop*/

/*Ipad/Tablet*/
@media only screen and (min-width: 481px) and (max-width:768px){
    .aboutthird{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        .aboutthird-container{
            width: 90%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            //ONE
            .aboutthird-container-one{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-one-titlebox{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: flex-end;
                    h1{
                        color: $color-two;
                        font-size: $font-large;
                        font-weight: normal;
                    }
                }
                .aboutthird-container-one-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                    
                }
            }
            //ONE
    
            //TWO
            .aboutthird-container-two{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-two-titlebox{
                    width: 100%;
                    height: 15%;
                }
                .aboutthird-container-two-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                }
            }
            //TWO
        }
    }
}
/*Ipad/Tablet*/

/*Mobile*/
@media only screen and (max-width: 480px){
    .aboutthird{
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        .aboutthird-container{
            width: 90%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            //ONE
            .aboutthird-container-one{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-one-titlebox{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: flex-end;
                    h1{
                        color: $color-two;
                        font-size: $font-large;
                        font-weight: normal;
                    }
                }
                .aboutthird-container-one-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                    
                }
            }
            //ONE
    
            //TWO
            .aboutthird-container-two{
                width: 100%;
                height: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .aboutthird-container-two-titlebox{
                    width: 100%;
                    height: 15%;
                }
                .aboutthird-container-two-textbox{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    h1{
                        color: $color-two;
                        font-size: $font-medium;
                        font-weight: bold;
                    }
                }
            }
            //TWO
        }
    }
}
/*Mobile*/