@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*Font Family*/
$header-text: 'Merriweather', serif;
$sub-text:'Poppins', sans-serif;
/*Font Family*/

/*Font Size*/
$font-small: 0.875rem; //14px
$font-medium: 1rem; //16px
$font-large: 1.125rem; //18px
/*Font Size*/

/*Colors*/
$color-one:#0C0E0C;
$color-two:#D8323C;
$color-three:#EAEBEA;
/*Colors*/

/*Colors*/
//$color-one:#0C0E0C;
//$color-two:#D8323C;
//$color-three:#EAEBEA;
/*Colors*/

